src/test/resources/wsdl/MyServiceLocal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:tns="http://www.madbit.org/MyService/"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
				  xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
				  name="MyService" targetNamespace="http://www.madbit.org/MyService/">

	<wsp:UsingPolicy wssutil:Required="true"/>
	<wsp:Policy wssutil:Id="IdentityServicesUpvsSoapBindingPolicy">
		<ns1:TransportBinding xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy>
				<ns1:TransportToken>
					<wsp:Policy>
						<ns1:HttpsToken/>
					</wsp:Policy>
				</ns1:TransportToken>
				<ns1:AlgorithmSuite>
					<wsp:Policy>
						<ns1:Basic256/>
					</wsp:Policy>
				</ns1:AlgorithmSuite>
				<ns1:Layout>
					<wsp:Policy>
						<ns1:Lax/>
					</wsp:Policy>
				</ns1:Layout>
				<ns1:IncludeTimestamp/>
			</wsp:Policy>
		</ns1:TransportBinding>
		<ns2:SupportingTokens xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy>
				<sp:IssuedToken
						xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<sp:RequestSecurityTokenTemplate>
						<trust:TokenType
								xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0
						</trust:TokenType>
						<trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer
						</trust:KeyType>
					</sp:RequestSecurityTokenTemplate>
					<wsp:Policy>
						<sp:RequireInternalReference/>
					</wsp:Policy>
				</sp:IssuedToken>

			</wsp:Policy>
		</ns2:SupportingTokens>
	</wsp:Policy>


	<wsdl:types>
		<xsd:schema targetNamespace="http://www.madbit.org/MyService/">
			<xsd:element name="SumRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="addend" type="xsd:int" minOccurs="2" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SumResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sum" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SumIn">
		<wsdl:part element="tns:SumRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SumOut">
		<wsdl:part element="tns:SumResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="MyService">
		<wsdl:operation name="Sum">
			<wsdl:input message="tns:SumIn"/>
			<wsdl:output message="tns:SumOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MyServiceSOAP" type="tns:MyService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Sum">
			<soap:operation soapAction="https://localhost:8443/soap/MyService/Sum"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MyService">
		<wsdl:port binding="tns:MyServiceSOAP" name="MyServiceSOAP">
			<wsp:PolicyReference URI="#IdentityServicesUpvsSoapBindingPolicy"/>
			<soap:address location="https://localhost:8443/soap/MyService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
