src/test/resources/wsdl/wss11x509.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wst13="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:tns="http://xmlns.oracle.com/sts/schema/sts-11g.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="STSEndPoint" targetNamespace="http://xmlns.oracle.com/sts/schema/sts-11g.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp1_2:Policy xmlns:ns1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" ns1:Id="wss10_x509_certificates_sign_encrypt">
    <wsp1_2:ExactlyOne>
      <wsp1_2:All>
        <ns2:AsymmetricBinding xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp1_2:Policy>
            <wsp1_2:ExactlyOne>
              <wsp1_2:All>
                <ns2:AlgorithmSuite xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                  <wsp1_2:Policy>
                        <ns2:Basic256 />
                  </wsp1_2:Policy>
                </ns2:AlgorithmSuite>
                <ns2:IncludeTimestamp xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" />
                <ns2:InitiatorToken xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                  <wsp1_2:Policy>
                    <wsp1_2:ExactlyOne>
                      <wsp1_2:All>
                        <ns2:X509Token ns2:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                          <wsp1_2:Policy>
                            <wsp1_2:ExactlyOne>
                              <wsp1_2:All>
                                <ns2:WssX509V3Token10 />
                              </wsp1_2:All>
                            </wsp1_2:ExactlyOne>
                          </wsp1_2:Policy>
                        </ns2:X509Token>
                      </wsp1_2:All>
                    </wsp1_2:ExactlyOne>
                  </wsp1_2:Policy>
                </ns2:InitiatorToken>
                <ns2:Layout xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                  <wsp1_2:Policy>
                        <ns2:Strict />
                  </wsp1_2:Policy>
                </ns2:Layout>
                <ns2:OnlySignEntireHeadersAndBody xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" />
                <ns2:RecipientToken xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                  <wsp1_2:Policy>
                    <wsp1_2:ExactlyOne>
                      <wsp1_2:All>
                        <ns2:X509Token ns2:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
                          <wsp1_2:Policy>
                            <wsp1_2:ExactlyOne>
                              <wsp1_2:All>
                                <ns2:WssX509V3Token10 />
                              </wsp1_2:All>
                            </wsp1_2:ExactlyOne>
                          </wsp1_2:Policy>
                        </ns2:X509Token>
                      </wsp1_2:All>
                    </wsp1_2:ExactlyOne>
                  </wsp1_2:Policy>
                </ns2:RecipientToken>
              </wsp1_2:All>
            </wsp1_2:ExactlyOne>
          </wsp1_2:Policy>
        </ns2:AsymmetricBinding>
        <ns3:Wss10 xmlns:ns3="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp1_2:Policy>
            <wsp1_2:ExactlyOne>
              <wsp1_2:All>
                <ns3:MustSupportRefKeyIdentifier />
              </wsp1_2:All>
            </wsp1_2:ExactlyOne>
          </wsp1_2:Policy>
        </ns3:Wss10>
      </wsp1_2:All>
    </wsp1_2:ExactlyOne>
  </wsp1_2:Policy>
  <wsp1_2:Policy xmlns:ns1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" ns1:Id="sign_timestamp">
    <wsp1_2:ExactlyOne>
      <wsp1_2:All>
        <ns2:SignedParts xmlns:ns2="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <!-- ns2:Body/ -->
          <ns2:Header Name="IncludeTimestamp" Namespace="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" />
        </ns2:SignedParts>
      </wsp1_2:All>
    </wsp1_2:ExactlyOne>
  </wsp1_2:Policy>
  <wsp1_2:Policy xmlns:ns1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" ns1:Id="timestamp">
    <wsp1_2:ExactlyOne>
      <wsp1_2:All>
        <sp:IncludeTimestamp />
      </wsp1_2:All>
    </wsp1_2:ExactlyOne>
  </wsp1_2:Policy>
  <wsdl:types>
    <xs:schema>
       <xs:import namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512" schemaLocation="https://a1-new.upvs.anx.sk:8081/sts/wss11x509?WSDL&amp;type=XSD&amp;file=schema:836d26bf-1e59-4e99-a78b-b2f296033925"/>
            <xs:import namespace="http://schemas.xmlsoap.org/ws/2005/02/trust" schemaLocation="https://a1-new.upvs.anx.sk:8081/sts/wss11x509?WSDL&amp;type=XSD&amp;file=schema:034a89ea-099d-4f81-af7d-152018bb3e97"/>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="RequestSecurityTokenMsgV13">
    <wsdl:part name="request13" element="wst13:RequestSecurityToken" />
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenResponseCollectionMsgV13">
    <wsdl:part name="responseCollection13" element="wst13:RequestSecurityTokenResponseCollection" />
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenResponseMsgV13">
    <wsdl:part name="response13" element="wst13:RequestSecurityTokenResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSecurityTokenCollectionMsgV13">
    <wsdl:part name="request13" element="wst13:RequestSecurityTokenCollection" />
  </wsdl:message>
  <wsdl:portType name="SecurityTokenService">
    <wsdl:operation name="IssueTokenV13">
      <wsdl:input message="tns:RequestSecurityTokenMsgV13" />
      <wsdl:output message="tns:RequestSecurityTokenResponseCollectionMsgV13" />
    </wsdl:operation>
    <wsdl:operation name="ValidationTokenV13">
      <wsdl:input message="tns:RequestSecurityTokenMsgV13" />
      <wsdl:output message="tns:RequestSecurityTokenResponseMsgV13" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="STS" type="tns:SecurityTokenService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IssueTokenV13">
      <soap12:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" />
      <wsdl:input>
        <PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss10_x509_certificates_sign_encrypt" />
        <PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#sign_timestamp" />
        <PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#timestamp" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidationTokenV13">
      <soap12:operation soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate" />
      <wsdl:input>
        <PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss10_x509_certificates_sign_encrypt" />
        <PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#sign_timestamp" />
        <PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#timestamp" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wss11x509-serviceSoap12">
    <wsdl:port name="wss11x509-port" binding="tns:STS">
      <soap12:address location="https://a1-new.upvs.anx.sk:8081/sts/wss11x509" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
